<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="$title"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="container-fluid">
        <div class="row">
            <h1>表单</h1>

            <!-- 表单验证使用的是 w5cValidator -->
            <div qs-form-layout
                 url="{{url}}"
                 class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal ">
            </div>
            <div ng-if="detail==0" class="row">
                <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal">
                    <button class="btn btn-default" ng-click="fg = !fg " ng-init="fg=true"><span ng-show="fg==true">隐藏详情</span><span ng-show="fg!=true">显示详情</span></button>
                </div>
                <div ng-show="fg">
                    <div qs-form-layout
                         url="{{urlDetail}}"
                         class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal ">
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>