<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">grid</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <br />
    <h3>item查看</h3>
    <hr>

    <form>
        <p>I D &nbsp;&nbsp;&nbsp;: <input type="text" ng-model="curItem.id" ng-readonly="true"/></p>
        <p>Name: <input type="text" ng-model="curItem.name" ng-readonly="true"/></p>
        <p>Age: <input type="text" ng-model="curItem.age" ng-readonly="true"/></p>
        <p>Email: <input type="text" ng-model="curItem.email" ng-readonly="true"/></p>
        <p>Dept: <input type="text" ng-model="curItem.dept" ng-readonly="true"/></p>
        <p>Telephone: <input type="text" ng-model="curItem.telephone" ng-readonly="true"/></p>
    </form>

    <button class="btn btn-default" ng-click="returnList()">返回列表</button>

</div>