<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Charts</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                 这里有你能想到的所有报表！！！
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->


    </div>
    <!-- /.row -->
</div>
