<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Polar Area Chart</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <canvas qs-chart-polararea chart-options="options" chart-data="data" chart-legend="polarareaChart1" ></canvas>
        </div>

        <div class="col-lg-3">
            <div qs-chart-legend chart-legend="polarareaChart1"></div>
        </div>

        <div class="col-lg-12">
            <button type="button" class="btn btn-outline btn-default" ng-click="randomizeData()">随机生成数据</button>
            <button type="button" class="btn btn-outline btn-default" ng-click="addData()">增加数据集</button>
            <button type="button" class="btn btn-outline btn-default" ng-click="removeData()">移除数据集</button>
        </div>
    </div>

</div>