<h2>Separate Search</h2>
<p>根据每列字段进行查找</p>
<table qs-table
       interface="interface"
       data="data"
       items-per-page="10"
       total-items="totalItems"
       data="data"
       headers="Name, Age"
       fields="name, age"
       search="separate"
></table>
<hr>

<table qs-table
       interface="interface"
       data="data"
       items-per-page="10"
       total-items="totalItems"
       data="data"
       headers="Name, Age"
       fields="name, age"
       search="separate"
       select="multiply"
></table>