<h2>Themes</h2>

<h3>Default theme:</h3>
<p>Without additional classes</p>
<table qs-table
       interface="interface"
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Age,Balance,Company,Favorite Fruit"
       fields="name,eyeColor,age,balance,company,favoriteFruit"
       search="separate"
></table>
<hr>

<h3 class="blue_dust_theme">Blue Dust</h3>
<p>class="blue-dust"</p>

<table qs-table class="blue-dust hover-column"
       interface="interface"
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Age,Balance,Company,Favorite Fruit"
       fields="name,eyeColor,age,balance,company,favoriteFruit"
       search="separate"
></table>
<hr>

<h3 class="blue_dust_theme">Dark sky</h3>
<p>class="dark-sky"</p>

<table qs-table class="dark-sky hover-column"
       interface="interface"
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Age,Balance,Company,Favorite Fruit"
       fields="name,eyeColor,age,balance,company,favoriteFruit"
       search="separate"
></table>