<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">仪表盘</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="6" comments="功能一" colour="primary" type="comments"></stats>
        <stats number="12" comments="功能二" colour="primary" type="user"></stats>
        <stats number="18" comments="功能三" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="功能四" colour="red" type="support"></stats>
    </div>

    <!-- /.panel -->

</div>
