<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cache</h1>
        </div>
    </div>
    <div class="row" style="border: solid red 1px;">
        <h3>jsonData: <br /></h3>
        {{jsonData}}
    </div>

    <hr>
    <div class="row">
        <button class="btn btn-outline btn-default" ng-click="reset()">清空数据</button>
        <button class="btn btn-outline btn-default" ng-click="getdata()">无缓存获取数据</button>
        <button class="btn btn-outline btn-default" ng-click="getCachedata()">带缓存获取数据</button>
        <button class="btn btn-outline btn-default" ng-click="removeCacheByKey()">根据缓存key移除缓存数据</button>
        <button class="btn btn-outline btn-default" ng-click="getExpiredCachedata()">获取带生命周期缓存数据</button>
        <button class="btn btn-outline btn-default" ng-click="removeAllCache()">移除所有的缓存数据</button>
        <button class="btn btn-outline btn-default" ng-click="destroyCache()">销毁缓存</button>
    </div>

</div>
